@charset "utf-8";

// Define defaults for each variable.

body {
  font-family: monospace;
}

p, input, a, div {
  font-family: inherit;
}

// Import partials.
@import
  "syntaxHighlight"
;


.post-content {
  max-width: 450px;
  padding-left: 50px;
}
